<section id="hello" class="home bg-mega">
    <div class="overlay"></div>
            <div class="row">
                <div class="main_home">
                    <div class="home_bg">
                        <img src="/img/snow.jpeg">
                    </div>
                    <br>
                </div>
            </div><!--End off row-->
            <a href="#tricks">
                <i class="fas fa-chevron-down fa-4x chevron-down"></i>
            </a>
        <!--End off container -->
</section> <!--End off Home Sections-->



