@import "~bootstrap/scss/bootstrap";

#mainNav{
    background-color: black!important;
}
#mainNav a{
    color:white!important;
}

.home_bg img{
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: 50% 50%;
}

