{% extends 'base.html.twig' %}

{% block title %}Edit Tricks{% endblock %}

{% block body %}
    <br><br>
    <h1 style="text-align:center;">Modifier une figure</h1>

    {{ include('tricks/_formedit.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_tricks_index') }}" class="btn btn-primary" style="margin-bottom:10px">Retour</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
    // Soumet le formulaire avec les images à supprimer sélectionnées
    $('form').submit(function(e) {
        // Sélectionne les cases à cocher cochées
        var selectedPictures = $('input[name="remove_pictures[]"]:checked').map(function() {
            return $(this).val();
        }).get();

        // Ajoute les valeurs sélectionnées à un champ caché dans le formulaire
        $('<input>').attr({
            type: 'hidden',
            name: 'selected_pictures',
            value: JSON.stringify(selectedPictures)
        }).appendTo($(this));

        return true; // Continue la soumission du formulaire
    });
});    
    </script>
{% endblock %}
