{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <br><br>
    <h1 style="text-align:center;">Editer le profil</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('app_user_index') }}">Retour à la liste des profils</a>
{% endblock %}
